<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
	</div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
		<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
<!--    <div style="width:300px;margin-left:auto;margin-right:auto"><div>ondovb<img src="assets/img/at.png" style="vertical-align:middle; height:16px"/>umd.edu</div>-->
<!--<table style="overflow: hidden;position:absolute;margin-top:2px;border:0px;padding:0px;padding-bottom:0;width:165px;height:25px;margin-left:auto;margin-right:auto;"><tr style="border:0px;padding:0px;"><td style="border:0px;padding:0px;">ondovb</td><td style="border:0px;margin:0px;padding:0px" width="0"><img src="assets/img/at.png" style="vertical-align:middle; width:24px; height:20px"/></td><td style="padding:0px;border:0px">umd.edu</td></tr></table>-->
<span style="-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;">&nbsp;&nbsp;&bull;&nbsp;&nbsp;ondovb<img src="/assets/img/at.png" style="padding:0;width:18px;height:18px;vertical-align:middle;"/>umd.edu
</span>
    <!-- Menu -->
    <ul class="hide">
        <!-- Auto Generation of NORMAL pages in the navbar -->
        {% assign name_page = "" %}
        
        {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        {% if name_page contains page.title %}
        {% else %}
        <li class="separator"> | </li>
        <li>
            <a class="clear" href="{{ page.url | relative_url }}">
                {{ page.title }}
            </a>
        </li>
        {% endif %}
        {% assign name_page = page.title | append: name_page %}
        {% endif %}
        {% endfor %} 
        
		<li>
			<a class="clear" href="https://www.cs.umd.edu/people/brianond">
				<i>UMD</i>
			</a>
		</li>
        <li> &bull; </li>
		<li>
			<a href="https://genomeinformatics.github.io/people/ondov/">
				<i>NIH</i>
			</a>
		</li>
        <li> &bull; </li>
		<li>
			<a href="https://scholar.google.com/citations?user=bPyA99MAAAAJ&hl=en">
				<i>Google Scholar</i>
			</a>
		</li>
		
        <!-- Auto Generation of SPECIAL pages in the navbar
        {% for item in site.theme_settings.special_page %}
          {% if item[1].enabled %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" href="{{ site.url }}{{ site.baseurl }}/{{ item[0] }}">
                    <i class="fa fa-{{ item[1].icon }}" aria-hidden="true"></i>
                </a>
            </li>
          {% endif %}
        {% endfor %}-->
    </ul>
        
	</nav>
</header>
