// Header text feature
.call-out {
    @extend %padding-medium;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
    color: $header-desc-text-color;
    background: $header-desc-background-color no-repeat;
    background-size: 100% auto;//$feature-image-size;
	background-attachment: fixed;
    background-position: center top;
		-moz-box-shadow:    inset 0 -5px 15px #555555;
		-webkit-box-shadow: inset 0 -5px 15px #555555;
		box-shadow:         inset 0 -5px 15px #555555;
    /* --- Responsive --- */
    @media screen and (max-width: 850px) {
        background-size: 100% auto;
    } 
    
    //For white images
    p,
    a,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
        @extend .header-txt-shadow;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

#main {
    background-position: 100% 0, 0 center, center top;
}

// Post listing
.posts {
    .post-teaser {
        @extend %padding-regular;
        width: 100%;
        margin-bottom: 0;
        display: inline-block;
        background-size: $feature-image-size;
//        border-bottom: 1px solid $border-color;
        p a {
            @extend .body-link;
        }
        img {
            width: 100%;
            padding: 0;
            vertical-align: middle;
        }

        .post-img {
        
		   -moz-box-shadow:    inset 0 0 15px #555555;
   -webkit-box-shadow: inset 0 0 15px #555555;
   box-shadow:         inset 0 0 15px #555555;
    transition: background-size .25s ease-out;
    -moz-transition: background-size .25s ease-out;
    -web-kit-transition: background-size .25s ease-out;
   			
   			background-size:auto 100%;
   			background-position:center;
   			    background-repeat: no-repeat;
            &:hover {
   			background-size:auto 105%;
            }
            vertical-align: middle;
            //border-radius: 10px;
            overflow: hidden;
//			box-shadow: 0 2px 15px 0px gray;

            @media (min-width: $break) {
                height: 250px;
            } //Smaller screen
            @media screen and (max-width: $break) {
                height: 150px;
            }
        }

        .post-img img {
            max-width: 100%;

        }
    }
    .excerpt {
        margin-top: 0;
    }
}

// Pagination
.pagination {
    padding: $padding-small $padding-large 0 $padding-large;
    text-align: center;
    @media (max-width: 600px) {
        padding: $padding-small;
    }

    .button {
        margin: 0 1.5em;
        i {
            vertical-align: middle;
        }
    }

}
