---
layout: default
---

  <div class='call-out-home'>
  &nbsp;
  </div>
<div class="home" id="main">

  <div style="display: inline; margin: 0;">
    <div style="background-image:url('/assets/img/ondov.jpg'); " class="portrait" src=""></div>
  </div>
<p>
<div style="text-align: center; margin-top: 15px;-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
width:100%">
<h3>Brian Ondov</h3>
</div>
</p>
  <p style="width:60%;margin-left:auto;margin-right:auto;">
    I'm a PhD Candidate in <a href="https://www.cs.umd.edu">Computer Science</a> at the
    <a href="https://www.umd.edu">University of Maryland</a>, advised by
    <a href="https://sites.umiacs.umd.edu/elm/">Niklas Elmqvist</a>, and supported by a
    fellowship from the <a href="https://www.nih.gov">National Institutes of Health</a>, where I work with the <a href="https://genomeinformatics.github.io/people/ondov/">
    Genome Informatics Section</a>.
    My research interests include Natural Language Processing, Computational
    Biology, and Information Visualization.
  </p>
  <p style="width:60%;margin-left:auto;margin-right:auto;">
    I have worked on highly cited
    <a href="https://scholar.google.com/citations?user=bPyA99MAAAAJ&hl=en">publications</a>,
    given talks at top-tier conferences,
    <!--
    &mdash;both in Human-Computer Interaction
    (<a href="http://ieeevis.org/">IEEE VIS</a>) and Computational Biology
    (<a href="https://www.asm.org/Events/ASM-NGS/Home">ASM-NGS</a>, <a href="https://blog.umd.edu/m3/upcoming-events/">M3</a>)&mdash;
    -->
    acted as a peer reviewer for journals like Nature and Bioinformatics, 
    served as a <a href="https://datascience.nih.gov/meet-graduate-data-science-summer-program-interns">Data Science Mentor</a> at the NIH,
    and guest lectured at UMD.
  </p>
  <p style="width:60%;margin-left:auto;margin-right:auto;">
    Outside of research, I direct the <a href="https://sites.google.com/view/nerds-in-harmony/">Nerds in Harmony</a>, a long-running <i>a cappella</i> group made up of NIH employees and fellows.
    I'm also a Yoga Alliance RYT® 200 <a href="https://www.yogaalliance.org/TeacherPublicProfile?tid=254856">Registered Yoga Teacher</a>, and enjoy teaching for <a href="https://recwell.umd.edu/brian-o">UMD RecWell</a> on campus and online.
  </p>
  
<div style="width:60%;margin-left:auto;margin-right:auto;text-align: center; margin-top: 15px">
<br>
<h2>Projects</h2>
<p style="margin-bottom:0;">
  {% include badge.html abbrev="ML" %}&nbsp;Machine Learning&nbsp;&nbsp;&bull;&nbsp;&nbsp;{% include badge.html abbrev="NLP" %}&nbsp;Natural Language Processing&nbsp;&nbsp;&bull;&nbsp;&nbsp;{% include badge.html abbrev="CB" %}&nbsp;Computational Biology&nbsp;&nbsp;&bull;&nbsp;&nbsp;{% include badge.html abbrev="IV" %}&nbsp;Information Visualization&nbsp;&nbsp;&bull;&nbsp;&nbsp;{% include badge.html abbrev="GIS" %}&nbsp;Geographic Information Systems
</p>
<!--<p style="margin-bottom:0;">
📄Paper&nbsp;&nbsp;&bull;&nbsp;&nbsp;📝Manuscript
</p>-->
</div>
  <div class="posts">
    {% for post in site.portfolio reversed %}
    <div class="post-teaser">
      {% if post.thumbnail %} 
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <div class="post-img" style="border-radius:10px;margin-right:10px;float:left;background-image:url('{{ site.baseurl }}/{{ post.thumbnail }}')">
      </div>
    </a>
      {% endif %}
      <span>
          <header>
            <h4>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
            </a>
            <small style="font-weight:normal">
          {% for badge in post.badges %}
            {% include badge.html abbrev=badge %}
          {% endfor %}
            </small>
            </h4>
          </header>
        
          <div class="excerpt">
            {% for pub in post.pubs %}
                {% if pub.pdf %}
                    <div style="text-align:center;margin-right:10px;display:inline-block"><a href="/assets/pub/{{ pub.pdf }}">
                {% endif %}
                        {%- if pub.doi -%}
                            📄
                        {%- else -%}
                            <!--📝-->
                        {%- endif -%}
                {% if pub.pdf %}
                    {% if pub.journal-short %}
                    <small>{{ pub.journal-short}} ({{- pub.date | date: "%Y" -}})</small></a>
                    {% else %}
                    📝 <small>Manuscript</small>
                    {% endif %}
                    </div><br>
                {% endif %}
            {% endfor %}
            <!--{{ post.content | strip_html | truncate: "250" }}-->
            <!--<a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>-->
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
