---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header class='call-out' id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
    <p class="meta">
    </p>
  </header>
  <section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
    {{ content }}
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>
  
</article>

